@model IEnumerable<MKEFishFries.Models.Event>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<h3>@ViewBag.FirstName @ViewBag.LastName  --  @ViewBag.ParishName</h3>
<h3>ParishId = @ViewBag.ParishId  - On Events-Index view </h3>

<p>
    @Html.ActionLink("Create An Event", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.People.FirstName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ParishId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarryOutOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SponserPersonId)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.People.FirstName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ParishId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarryOutOption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SponserPersonId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }
</table>
<p>
    @Html.ActionLink( "View Details of Parish", "DetailsParish", "ParishAdmin")
    @*@Html.ActionLink("Back to My Profile", "DetailsParish", "ParishAdmin", new { id = @ViewBag.ParishId })*@
</p>