@model IEnumerable<MKEFishFries.Models.Parish>
@{
    ViewBag.Title = "Index";
}
@*Index view on Visitor controller*@
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form id="formSearch" method="post">
<div class="row" id="SearchBox">
    <div class="col-md-1">Search Parish</div>
    <div class="col-md-2"><input type="text" id="parishStreet" name="parishStreet"/></div>
    <div class="col-md-1"><input type="submit" id="submitSearch" value="Search"/></div>
</div>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Long)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.WebsiteURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.AdminPersonId)
            </th>*@
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Lat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Long)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.WebsiteURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.AdminPersonId)
                </td>*@
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) | This puts you to editing the user's profile - not appropriate in this context *@
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                @Html.ActionLink("Visitor Actions", "VisitorActions", new { id = item.ID })
                @Html.ActionLink("Get Emails", "SignUpForEmails", "Visitor", new { id = item.ID }, null)
            </td>
        </tr>
    }
    <br />

</table>
<div>
    @Html.ActionLink("Back to Map", "Index", "Home") 
</div>
