@model IEnumerable<MKEFishFries.Models.PeopleParishViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.people.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.people.LastName)
        </th>
      
        @*<th>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Parish.Name)
        </th>



        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.people.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.people.LastName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ApplicationUserId)
        </td>*@

        <th>
            @Html.DisplayFor(modelItem => item.Parish.Name)
        </th>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.people.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.people.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.people.ID })
        </td>
    </tr>
}

</table>
