@*@model IEnumerable<MKEFishFries.ModelsponsorViewModel>*@
@model IEnumerable<MKEFishFries.Models.Event>


@{
    ViewBag.Title = "Index Of Events";
}

<h2>Index</h2>
<h3>@ViewBag.FirstName @ViewBag.LastName  --  @ViewBag.ParishName</h3>
<h3>ParishId = @ViewBag.ParishId </h3>

<p>
    @Html.ActionLink("Create New", "Create", "Events")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarryOutOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SponserPersonId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParishId)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Date)
            </td>
            <td>
                @Html.DisplayFor(model => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(model => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(model => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(model => item.EventDescription)
            </td>
            <td>
                @Html.DisplayFor(model => item.FoodDescription)
            </td>
            <td>
                @Html.DisplayFor(model => item.Price)
            </td>
            <td>
                @Html.DisplayFor(model => item.CarryOutOption)
            </td>
            <td>
                @Html.DisplayFor(model => item.SponserPersonId)
            </td>
            <td>
                @Html.DisplayFor(model => item.ParishId)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", "Events", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", "Events", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", "Events", new { id = item.Id })
            </td>
        </tr>
    }

</table>
