@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Google Maps Multiple Markers</title>
    <script>
        var latitudes = @Html.Raw(Json.Encode(@ViewBag.Latitudes));
        
        var longitudes = @Html.Raw(Json.Encode(@ViewBag.Longitudes));

        var names = @Html.Raw(Json.Encode(@ViewBag.Names))

        var markers = [];

        var contentStrings = [];

        var infoWindow = [];
     
        
    </script>
</head>
<body>
    <div id="map" style="width: 800px; height: 400px;"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqPB-xlRlEDxCQcWVRI0pZ9UJCHDhNzaE&callback=initMap"></script>
    <script>
        function initMap()
        {
            var milwaukee = {lat: 43.038, lng: -87.906}
            var map = new google.maps.Map(document.getElementById('map'), { zoom: 12, center: milwaukee });
            for (i = 0; i < names.length; i++)
            {
               
                
                
                var coord = {lat: latitudes[i], lng: longitudes[i]};
                markers[i] = new google.maps.Marker(
                    {
                        position: coord,
                        map: map,
                        title: names[i]
                    });
                markers[i].index = i;
                contentStrings[i] = '<div class="popup_container">' + '<div id="content"><h1>'+ names[i] + '</h1><p>' + names[i] +' is a' +
                    ' church, with a specific size and has a specific date erected in the' +
                    ' area it is located. The church is located in this specific area,' +
                    ' and is a place of worship for many people in this place.' +
                    ' Learn More.</p><p>Attribution: Church <a href="https://en.wikipedia.org/wiki/Church">' +
                    'https://en.wikipedia.org/wiki/Church</a></p></div>';
                contentStrings[i].index = i;
                infoWindow[i] = new google.maps.InfoWindow(
                    {
                        content: contentStrings[i],
                        maxWidth: 300
                    });
                infoWindow[i].index = i;
                google.maps.event.addListener(markers[i], 'click', function EventDetails()
                {
                    console.log(this.index);
                    console.log(i);
                    infoWindow[this.index].open(map, markers[this.index]);
                    map.panTo(markers[this.index].getPosition()); 
                });
               
               
            }
        }
    </script>
   
    @*<div class="row">
        <div id="map"></div>*@
    @*<script>
            var map;
            function initMap()
            {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: 43.038902, lng: -88.0697 },
                    zoom: 11,
                });
                var infowindow = new google.maps.InfoWindow();
                var marker, i;

                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent(locations[i]);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
            }
        </script>*@
    @*</div>*@
</body>
